<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">LinqFunc两种方式泛型接口测试</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td><a href="#" data-target="#LoadWithUserProfilerWithLinq" data-toggle="modal">Linq泛型接口调用测试</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade" id="LoadWithUserProfilerWithLinq" tabindex="0" role="dialog" aria-labelledby="NpoiImport" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DoPrinterSetting</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th style="width: 20%">接口地址</th>
                        <td class="address">/Excel/NPOI/LoadWithUserProfilerWithLinq</td>
                    </tr>
                    <tr>
                        <th>请求方式</th>
                        <td class="type">POST</td>
                    </tr>
                    <tr>
                        <th>说明</th>
                        <td>
                            根据经销商Id获取品牌分类列表
                            <table class="table-bordered">
                                <tr><th>字段</th><th>数据类型<th>是否必填</th><th>说明</th></tr>
                                <tr><td>terminal_id</td><td>int</td><td>是</td><td>终端机器ID</td></tr>
                                <tr><td>terminal_token</td><td>int</td><td>是</td><td>终端机器token</td></tr>
                                <tr><td>terminal_free_rcode</td><td>string</td><td>是</td><td>机器屏显消费码（即机器序号，5位数字）</td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <textarea>
                                {}
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>返回结果<span class="glyphicon glyphicon-plus"></span></th>
                        <td>
                            <div class="result"></div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <a class="btn btn-primary" id="btn-c-open" href="#">请求接口</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

