<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true"  internalLogFile="D:\\NLOGfile.txt">
  
  <targets xsi:type="AsyncWrapper" >

    <target name="HMALLItemException" xsi:type="AsyncWrapper" overflowAction="Grow" >
      <target xsi:type="File"  archiveEvery="Day"
        archiveNumbering="Rolling"  keepFileOpen="true" archiveAboveSize="1024000"
            fileName="${basedir}/Log/HMALLItem_${shortdate}.txt"
            archiveFileName="${basedir}/Log/HMALLItem_$_${shortdate}_{#####}.txt">
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="HMALLItemException" />
  </rules>
</nlog>
