@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Brand Management</title>
    <link href="@Url.Content("~/Content/themes/Gray/easyui.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Common.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/sea.js")" type="text/javascript"></script>
    <script type="text/javascript">

        seajs.config({
            'map': [[/^(.*\.(?:css|js))(.*)$/i, '$1?20140611']]
        });

        seajs.use("Brands/Index", function (a) {
        });
    </script>
</head>
<body>
    <div id="background" class="background" style="height: 100%">
    </div>
    <div id="progressBar" class="progressBar">
        Loading,please wait...
    </div>

    <div>
        <div id="SearchContent" class="mainarea" style="width: 99%;">
            <h1 class="h1_SearchTitle">Brand Search</h1>
            <div class="filterhead"><a href="#">Filter</a></div>
            <table class="filterbg" border="0" style="width: 100%">
                <caption>
                    <div id="descDiv">
                    </div>
                </caption>
                <tr>
                    <td align="right">Brand Name:
                    </td>
                    <td>
                        <input type="text" class="keywordbg" id="shBrandName" />
                    </td>
                    <td align="right">ShortName:
                    </td>
                    <td>
                        <input type="text" class="keywordbg" id="shShortName" /></td>
                </tr>
                <tr>
                    <td align="right">Status:</td>
                    <td>
                        <select id="shStatus" class="easyui-combobox" style="width: 220px; height: 30px;">
                            <option value="0">All</option>
                            <option value="1">Active</option>
                            <option value="2">Deactive</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: center; height: 30px;">
                        <div class="filtyerbtnarea">
                            @* <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSearching">Search</a>
                             <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnReset">Reset</a>*@
                            <input type="image" class="btnSearch" id="btnSearching" src="~/Content/images/searchbtn.png">
                            <input type="image" class="btnReset" id="btnReset" src="~/Content/images/btnReset.png">
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <div>
                <table id="brandManageDG"></table>
            </div>
            <div>
                <form id="brandInfoDigForm" style="min-height: 200px; display: none;">
                    <table id="brandInfoTable" border="1" style="height: 100%; width: 100%; display: none; border-collapse: collapse">
                        <tbody>
                            <tr>
                                <td>
                                    <div>BrandName</div>
                                </td>
                                <td>
                                    <div>
                                        <input id="brandName" type="text" class="easyui-validatebox" data-options="required:true,validType:'length[2,100]'" />
                                    </div>
                                </td>

                                <td>
                                    <div>ShortName</div>
                                </td>
                                <td>
                                    <div>
                                        <input id="shortName" type="text" class="easyui-validatebox" data-options="required:true,validType:'length[2,100]'" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>Active</div>
                                </td>
                                <td>
                                    <div>
                                        <select id="Status">
                                            <option value="1">Enable</option>
                                            <option value="0">Disable</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
