<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true"   internalLogFile="D:\\NLOGfile.txt">
  
  <variable name="connStr" value="Data Source=.;Initial Catalog=ProductCenter;User ID=sa;Password=productCenter!" />
    
  <targets  xsi:type="AsyncWrapper" >
    <target name="NBCMSException" xsi:type="AsyncWrapper" overflowAction="Grow">
      <target xsi:type="File"  archiveEvery="Day"
        archiveNumbering="Rolling"  keepFileOpen="true" archiveAboveSize="1024000"
            fileName="${basedir}/Log/NBCMSystem_${shortdate}.txt"
            archiveFileName="${basedir}/Log/NBCMSystem_$_${shortdate}_{#####}.txt" >
      </target>
    </target>
    
    <target xsi:type="Database" name="LogOfUserLoginDB"  connectionString="${connStr}">
      <commandText>
        insert into LogOfUserLogin([User_Account],[Display_Name],[Logging_IP], [Machine_Name], [LoggingStatue],[Logging_Date],[Remark])
        values (@User_Account, @Display_Name, @Logging_IP, @Machine_Name,@LoggingStatue, @Logging_Date,@Remark);
      </commandText>
      <parameter name="@User_Account" layout="${event-context:item=User_Account}"/>
      <parameter name="@Display_Name" layout="${event-context:item=Display_Name}"/>
      <parameter name="@Logging_IP" layout="${event-context:item=Logging_IP}"/>
      <parameter name="@Machine_Name" layout="${event-context:item=Machine_Name}"/>
      <parameter name="@LoggingStatue" layout="${event-context:item=LoggingStatue}"/>
      <parameter name="@Logging_Date" layout="${event-context:item=Logging_Date}"/>
      <parameter name="@Remark" layout="${event-context:item=Remark}"/>
    </target>
    
    
   <target xsi:type="Database" name="LogOfUserOperatingDB"  connectionString="${connStr}">
      <commandText>
        insert into LogOfUserOperating([User_Account],[Display_Name],[Model_Name], [Action_Name], [Operating_Type],[OldData],[NewDate],[IP_Address],[Operating_Date])
        values (@User_Account, @Display_Name, @Model_Name, @Action_Name,@Operating_Type, @OldData,@NewDate,@IP_Address,@Operating_Date);
      </commandText>
      <parameter name="@User_Account" layout="${event-context:item=User_Account}"/>
      <parameter name="@Display_Name" layout="${event-context:item=Display_Name}"/>
      <parameter name="@Model_Name" layout="${event-context:item=Model_Name}"/>
      <parameter name="@Action_Name" layout="${event-context:item=Action_Name}"/>
      <parameter name="@Operating_Type" layout="${event-context:item=Operating_Type}"/>
      <parameter name="@OldData" layout="${event-context:item=OldData}"/>
      <parameter name="@NewDate" layout="${event-context:item=NewDate}"/>
      <parameter name="@IP_Address" layout="${event-context:item=IP_Address}"/>
      <parameter name="@Operating_Date" layout="${event-context:item=Operating_Date}"/>
    </target>


    <target xsi:type="Database" name="CMS_Ecom_Sync_Result_DB"  connectionString="${connStr}">
      <commandText>
        insert into CMS_Ecom_Sync_Result([SKUID],[ProductID],[HMNUM], [SKUOrder], [Channel],[Status],[CreatedDate],[CreatedBy],[ModifiedDate],[ModifiedBy],[Comments])
        values (@SKUID, @ProductID, @HMNUM, @SKUOrder,@Channel, @Status,@CreatedDate,@CreatedBy,@ModifiedDate,@ModifiedBy,@Comments);
      </commandText>
      <parameter name="@SKUID" layout="${event-context:item=SKUID}"/>
      <parameter name="@ProductID" layout="${event-context:item=ProductID}"/>
      <parameter name="@HMNUM" layout="${event-context:item=HMNUM}"/>
      <parameter name="@SKUOrder" layout="${event-context:item=SKUOrder}"/>
      <parameter name="@Channel" layout="${event-context:item=Channel}"/>
      <parameter name="@Status" layout="${event-context:item=Status}"/>
      <parameter name="@CreatedDate" layout="${event-context:item=CreatedDate}"/>
      <parameter name="@CreatedBy" layout="${event-context:item=CreatedBy}"/>
      <parameter name="@ModifiedDate" layout="${event-context:item=ModifiedDate}"/>
      <parameter name="@ModifiedBy" layout="${event-context:item=ModifiedBy}"/>
      <parameter name="@Comments" layout="${event-context:item=Comments}"/>
    </target>

    
     <target xsi:type="Database" name="CMS_Ecom_Sync_DB"  connectionString="${connStr}">
      <commandText>  
        update CMS_Ecom_Sync set  StatusID = @StatusID,StatusDesc=@StatusDesc, UpdateOn = @UpdateOn, UpdateBy=@UpdateBy,Comments= @Comments where SKUID =  @SKUID;
      </commandText>
      <parameter name="@SKUID" layout="${event-context:item=SKUID}"/>
      <parameter name="@StatusID" layout="${event-context:item=StatusID}"/>
      <parameter name="@StatusDesc" layout="${event-context:item=StatusDesc}"/>
      <parameter name="@UpdateOn" layout="${event-context:item=UpdateOn}"/>
      <parameter name="@UpdateBy" layout="${event-context:item=UpdateBy}"/>
      <parameter name="@Comments" layout="${event-context:item=Comments}"/>
    </target>
          

    <target xsi:type="Database" name="LogOfUserOperatingDetailsDB"  connectionString="${connStr}">
      <commandText>
        insert into LogOfUserOperatingDetails([ModelName],[ActionName],[ActionType],[SKU],[SKUID],[ChannelID],[ChannelName],[ProductID],[HMNUM],[Descriptions], [CreateOn], [CreateBy])
        values (@ModelName,@ActionName, @ActionType,@SKU,@SKUID,@ChannelID,@ChannelName,@ProductID, @HMNUM,@Descriptions, @CreateOn,@CreateBy);
      </commandText>
      <parameter name="@ModelName" layout="${event-context:item=ModelName}"/>
      <parameter name="@ActionName" layout="${event-context:item=ActionName}"/>
      <parameter name="@ActionType" layout="${event-context:item=ActionType}"/>

      <parameter name="@SKU" layout="${event-context:item=SKU}"/>
      <parameter name="@SKUID" layout="${event-context:item=SKUID}"/>
      <parameter name="@ChannelID" layout="${event-context:item=ChannelID}"/>
      <parameter name="@ChannelName" layout="${event-context:item=ChannelName}"/>
      <parameter name="@ProductID" layout="${event-context:item=ProductID}"/>
      <parameter name="@HMNUM" layout="${event-context:item=HMNUM}"/>
      
      <parameter name="@Descriptions" layout="${event-context:item=Descriptions}"/>
      <parameter name="@CreateOn" layout="${event-context:item=CreateOn}"/>
      <parameter name="@CreateBy" layout="${event-context:item=CreateBy}"/>
    </target>

  </targets>
  <rules>
    <logger name="NBCMSCMS_Ecom_Sync" minlevel="Debug" writeTo="CMS_Ecom_Sync_DB" final="true" />
    <logger name="NBCMSOperatingDetail" minlevel="Debug" writeTo="LogOfUserOperatingDetailsDB" final="true" />
    <logger name="NBCMSCMS_Ecom_Sync_Result" minlevel="Debug" writeTo="CMS_Ecom_Sync_Result_DB" final="true" />
    <logger name="NBCMSOperating" minlevel="Debug" writeTo="LogOfUserOperatingDB" final="true" />
    <logger name="NBCMSLogin" minlevel="Debug" writeTo="LogOfUserLoginDB" final="true" />
    <logger name="*" minlevel="Debug" writeTo="NBCMSException" />
  </rules>
</nlog>
